html {
    cursor: none;
}


.cursor-follower {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    /* border: solid 2px; */
    /* border-color: rgba(144, 70, 254, 0.6); */
    background-color: rgba(144, 70, 254, 1);
    opacity: 0;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
}