html {
    cursor: none;
}
.cursor-follower {
    position: fixed;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border: solid 2px;
    border-color: rgba(144, 70, 254, 0.6);
    background-color: rgba(144, 70, 254, 1);
    opacity: 0;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
  }