---
---

<section class="bg-black text-white py-32">
  <div class="container mx-auto ps-5 text-pretty flex flex-col w-full align-center justify-center">
    <h2 class="mb-8 text-6xl font-bold leading-tight tracking-tighter md:text-7xl">Contact</h2>
    <p class="text-white text-2xl">Get in touch with me at: <a href="mailto:ilana.bodenstein@gmail.com" class="hover:underline">ilana.bodenstein@gmail.com</a></p>
  </div>
</section>
